PORT=5000
DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/nova_db?retryWrites=true&w=majority"
JWT_SECRET="nova_secret_jwt_key_2026_change_in_production"
NODE_ENV="development"
ADMIN_EMAIL="admin@novainnovations.in"
ADMIN_PASSWORD="admin123_change_this"
